@model LittlePacktBookstore.ViewModels.RegistrationViewModel
@{
	ViewData["Title"] = "Register";
}

@section AdminCss
{
	<link href="~/css/admin/sb-admin.css" rel="stylesheet" />
}

<body class="bg-dark">
	<div class="container">
		<div class="card card-register mx-auto mt-5">
			<div class="card-header">Register an Account</div>
			<div class="card-body">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<form asp-action="Register" method="post">
					<div class="form-group">
						<div class="form-row">
							<div class="col-md-6">
								<div class="form-label-group">
									<input asp-for="FirstName" class="form-control" placeholder="First name" />
									<label asp-for="FirstName"></label>
									<span asp-validation-for="FirstName" class="text-danger"></span>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-label-group">
									<input asp-for="LastName" class="form-control" placeholder="Last name" required="required" />
									<label asp-for="LastName"></label>
									<span asp-validation-for="LastName" class="text-danger" placeholder="Last name"></span>
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="form-label-group">

							<input asp-for="UserName" class="form-control" type="email" placeholder="Email address" required="required" />
							<label asp-for="UserName">Email address</label>
							<span asp-validation-for="UserName" class="text-danger"></span>
						</div>
					</div>
					<div class="form-group">
						<div class="form-row">
							<div class="col-md-6">
								<div class="form-label-group">
									<input asp-for="Password" class="form-control" placeholder="Password" required="required" />
									<label asp-for="Password"></label>
									<span asp-validation-for="Password" class="text-danger"></span>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-label-group">
									<input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm password" required="required" />
									<label asp-for="ConfirmPassword"></label>
									<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
								</div>
							</div>
						</div>
					</div>
					<input type="submit" value="Register" class="btn btn-primary btn-block" />
				</form>
				<div class="text-center">
					<a class="d-block small mt-3" asp-action="login">Login Page</a>
				</div>
			</div>
		</div>
	</div>
</body>


