@model IEnumerable<Carousel>

@{
	int count = 0;
}
<div id="myCarousel" class="carousel slide" data-ride="carousel">
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class=""></li>
		<li data-target="#myCarousel" data-slide-to="1" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
	</ol>
	<div class="carousel-inner">
		@foreach (var item in Model)
		{


			<div class="carousel-item @(count == 0 ? "active" : "")">
				@switch (count++)
				{
					case 0:
						<img class="first-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="First slide">
						break;
					case 1:
						<img class="second-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Second slide">
						break;
					case 2:
						<img class="third-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Third slide">
						break;
				}
				<div class="container">
					<div class="row" style="padding-top:25px">
						<div class="col-md-4">
							<img src="~/Images/@item.ImageURL" class="img img-responsive" width="400" />
						</div>
						<div class="col-md-8">
							<div class="carousel-caption text-left">
								<h1>@item.Title.</h1>
								<p>@item.Description ...</p>
								<p><a class="btn btn-lg btn-primary" href="/home/details/@item.Id" role="button">Read More</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		}
	</div>
	<a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
</div>



