<!-- footer Begins -->
<footer class="container">
	<p class="float-right"><a href="#">Back to top</a></p>
	<p>© 2018-2019 LittlePackt BookStore. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
</footer>
<!-- footer Ends -->
