@model LittlePacktBookstore.ViewModels.ChangePasswordViewModel

@{
	ViewData["Title"] = "Change Password";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Custom styles for this template-->
@section AdminCss
	{
	<link href="~/css/admin/sb-admin.css" rel="stylesheet">
}

<body class="bg-dark">
	<div class="container">
		<div class="card card-login mx-auto mt-5">
			<div class="card-header">Change password</div>
			<div class="card-body">
				<form asp-action="ChangePassword">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<div class="form-group">
						<label asp-for="OldPassword" class="control-label"></label>
						<input asp-for="OldPassword" class="form-control" />
						<span asp-validation-for="OldPassword" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="NewPassword" class="control-label"></label>
						<input asp-for="NewPassword" class="form-control" />
						<span asp-validation-for="NewPassword" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="ConfirmNewPassword" class="control-label"></label>
						<input asp-for="ConfirmNewPassword" class="form-control" />
						<span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
					</div>
					<div class="form-group">
						<input type="submit" value="Change Password" class="btn btn-default" />
					</div>
				</form>
			</div>
		</div>
	</div>
</body>